@model Wedding

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
<a asp-action="Index" asp-controller="Wedding">Dashboard</a><br>
<a asp-action="LogOut" asp-controller="Home">Log Out</a>

<p>Date: @Model.Date.ToLongDateString()</p>

<div>
    <h2>Guests:</h2>
        @foreach (var r in Model.GuestList)
        {
            <p>@r.Guest.FirstName @r.Guest.LastName</p>
        }  
</div>