@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Chefs & <u>Dishes</u></h1>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home" role="button">Chefs</a><br>
    <a class="btn btn-success" asp-action="NewDish" role="button" asp-controller="Home" style="margin-top: 5px; margin-bottom: 5px;"> ADD DISH</a><br>
    
</div>

<table class="list-group">
        <li class="list-group-item list-group-item-dark">List of our Dishes:</li>
    @foreach(var d in Model)
    {
        <li class="list-group-item list-group-item-secondary" asp-action="ShowDish" asp-route-id="@d.DishID" asp-controller="Home">@d.Name by @d.Creator.FirstName @d.Creator.LastName Tastiness Level: @d.Tastiness Calories: @d.Calories </li>
    }
</div>