@model Dish

<div>
    <h1>You are Editing:</h1>
    <h1>@Model.Name</h1><br>
    <h3>by @Model.Chef</h3>
    <p>@Model.Description</p>
    <p><b>Tastiness level:</b> @Model.Tastiness</p>
    <p><b>Total Calories:</b> @Model.Calories</p>
</div>

<form asp-action="Editor" asp-controller="Home" asp-route-id ="@Model.DishID"  method="post">
    <div class="form-group">
        <span class="validation" asp-validation-for="Name"></span><br>
        <label asp-for="Name">Name of dish: </label>
        <input asp-for="Name" type="text"><br>
    
        <span class="validation" asp-validation-for="Chef"></span><br>
        <label asp-for="Chef">Chef's Name: </label>
        <input asp-for="Chef" type="text"><br>

        <span class="validation" asp-validation-for="Calories"></span><br>
        <label asp-for="Calories">Number of Calories: </label>
        <input asp-for="Calories" type="text"><br>

        <span class="validation" asp-validation-for="Tastiness"></span><br>
        <label>Level of tastiness:</label>
        <select asp-for="Tastiness">
            <option value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select></br>

        <span class="validation" asp-validation-for="Description"></span><br>
        <label>Description:</label>
        <input type="textarea" asp-for="Description"><br>
        <input type="submit">
    </form>

<div>
    <a class="btn btn-primary" href="/" role="button">Home</a><br>
</div>